core-plugins.json
graph.json
workspace
workspaces.json
workspace.json
daily-notes.json
plugins/obsidian-commits/data.json
plugins/obsidian-day-planner/data.json
plugins/templater-obsidian/data.json
plugins/remember-cursor-position/cursor-positions.json
